mat-list-item {
    text-align: center;
}

mat-tab-group {
    margin-top: 10%;
    margin: auto;
    width: 50%;
}

mat-divider {
    margin: 4%;
}

mat-tab-group {
    padding: 10px;
}

.conteudo {
    padding: 20px;
}