<mat-toolbar class="row mx-auto px-0" color='primary'>
    <div class="col-sm-2">
        <div *ngIf="titulo=='DETALHES'" (click)='seletorTela="lista"; titulo="HOME"'>
            <span class="material-icons md-48">keyboard_arrow_left</span>
        </div>
    </div>
    <div class="col-sm-8 titulo">
        <span>{{titulo}}</span>
    </div>
    <div class="col-sm-2">
        <img src="./assets/logo.png" class="float-right px-0" height="65px">
    </div>
</mat-toolbar>
<div class="container">
    <div class="col-sm-8">

    </div>
    <mat-form-field class="col-sm-4 mt-5">
        <mat-label>Procurar Usuário</mat-label>
        <input matInput [(ngModel)]="filtro" (ngModelChange)="atualizarLista()">
    </mat-form-field>
</div>
<div class="col-sm-10 mx-auto">
    <div *ngIf="seletorTela == 'lista'">
        <mat-accordion *ngFor="let item of usuarioFiltrados">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{item.id}}</mat-panel-title>
                    <mat-panel-title>{{item.name}}</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="example-container" (click)="expandirDetalhes(item.id)">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input readonly matInput #input [(ngModel)]="item.username">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input readonly matInput #input [(ngModel)]="item.email">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Telefone</mat-label>
                        <input readonly matInput #input [(ngModel)]="item.phone">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Cidade</mat-label>
                        <input readonly matInput #input [(ngModel)]="item.address.city">
                    </mat-form-field>
                    <svg class="bi bi-search ml-3" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div *ngIf="seletorTela == 'detalhes'">
        <app-detalhes-user></app-detalhes-user>
    </div>
</div>