mat-toolbar {
    height: 100px;
}

.row {
    margin: 0;
}

.titulo {
    text-align: center;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 3em;
}

.material-icons.md-48 {
    font-size: 48px;
}